.gitignore Template for Xcode3/4
# Mac OS X Finder
.DS_Store
config.codekit
# Other source repository archive directories (protects when importing)
.idea/
.codekit-cache/
node_modules/
coverage/
CVS
# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/
sauce_connect.log
