language: node_js
os: linux
dist: jammy

node_js:
  - '18'

cache:
  npm: true

addons:
  chrome: stable
  firefox: latest

services:
  - xvfb

notifications:
  email: false

env:
  global:
  - CHROME_BIN=google-chrome-stable
  - DISPLAY=:99.0
  - secure: nNlKMpi2YY7RFXpDTwxhVybFrsV4laalTC5EEE/sZcmJL4bwSs/Z00U1+6NAMjXA3PSZAxMeZ5MrFU1B4+vaSP8aPIveVNpt5hiInJ32siuBIcsFJdWSaz52btJm0o9lK11G1EnFDaz3y6Asjvqb1bQp2CP+NBHFpWzC1VsWZ8f579tJgm4IHYURcDJsPZumd7qQllWLhdh26W3DGtsTApa5F/ZhtSHNYNh0Vm9Ehc6RTNhwpI02wROS12pykIdZLkGDN2kRnFgxIyu1yDVKaIpbnCl3AlUjW52DN+kKzmEVj7vV9ImnL6ZGpSOOqcAlAl097h4d9el/4WR+vH6F/Xy+w5cNaK7c6Rc7IHHqQhAoqA7NUl9dohJUwxnJfPvio2HvKVS5jKoRuKb/oEYXTS+RngwNHt9hY3/Fv1VUDBChGasemR5Vkn9kTkrooGBJLlk3m9ZdPyRCVmLv3HxaG7KfYn4bkrXOyTxJokGOOxSGNQ027SpTvuFaN8a6ZVUQm0ktRpocWN49CnMO+z3p+oX/GdGrCV9pQDA6Xh43gOJUELK1OE6n5vMRuIdOcsVM2L7S8aE0fDhO9UeqjNzwIubVCvAo8uvml+WpQWMeJH4NN6u34p0Je47JbwT+lJ37wTBGWADI1UbsrFf1IO8gKoJ4Fjwk5czG22HYpYmYslc=
  - secure: GGYpAGm4W12sD+tW9VClWg2+YfVjJenl9k33hRpYWsfkHZ/wDfCKImx497YT/rSR//wSMUZUgFHTeE8YtOLt01tyiUKE4IGwtWRNFo5A3dpkPFb7Sf/KzM74yqyBwUxcp7m580vx17G30zFO++FZxDnvFbGy57TcwgbTtE343jtTeYSX/1ID8rFoTZcg0lUTNdXbK9gy1GseK5PekwGCXrX9jyNuiO1IaTIoIwQnz9Nmi/9gkr/v+yAv2t+wqDqrT8sOXDsfJ62+rGs2U9gtsm6lZ9+9hGmPLon/Nx99N2buH7R8lkisihboN+grl4dvuDkMl+19vK7+4i72k27Wl5r5zYlwkwX566J8P+NUUqt57r4otL0eOnl9OhPFZuVUAjdMW7vlmpDQghXPSS0jYlsveFKfJejWWe5CR6FLyUh8+TxIyf5t3frxIA6icHKviQyA2ZxKeFG7tawyueeqNeD+k5dM0U/oC6SuIiJGtYkph1B5lPt8/PUnGralm2hi+zV45ZETFNHLKERt0NjFd/EWA6xKqHOyUXgVV9qiuLTUQrKqUaXDkDlwaaSaPyygXArGjau8gziBNQ9bFvvlkT0yArVp3PmGRCwSokvzBQgnzLQMluqFU6VK5SqjCk1eFcMtPjbZHESTENopg33oXeDoZPek0qWwNCF/vQ0IuGg=
  - secure: AbehoV9kJrbVUssqe9IVEa8h1wizp4ZdsdCtmoYfrU8dCUi+WaaLXfxxlxTqUxYijzl15A0XGe7XayBhRFJPjhilStCnmj8FNdaziVMkWuDaGZVRfO8a7V3/ZxFVh+bxlQWP18djR/aVA+hCmfqLs5tW7t7+KNXVNwh8X0rWQB6sXPcbOqrJBrTn5u1Iio7cxHBNQ0yDXHI8nXqfwf3bMfKhqlZJCZ5eYPjfmlI5A3StyKn/IKBK4x/UDnIDqOYdfYW/r94entcEy35V1ttGxCLxCEXNvB4wXj+WlxQ5aOM1zuPnNGB8iCZCswB0AfnfEdCkBbn7fm4HcfC7oOyAEaK+wIQ1oxJySqnyOQj5ZhgeQJzwOWznqyniFVQRjEmuYpO6V6o5kRlScXCjAmqm+hwgz3VA/iUCI2JknLUbY9PdPQz130UbGYNkuurxjI3/B50YhCCFXG80LZu0R+hXgDfRzWGXpN8675cngfWbVnuy0iI/GRD07bERZ8e1IjlU8elrQnXjLMG7KDsvwZlcIwvuQY544evj3bAGxI9FlvW3Rk3RXQry26U9twCcRWMdHaUbxyvtTNUgihXiDwzxItM4lhYJngEdeKAxHyEoA/+aW7x9OQ5ftORoih61cfLEQA3IsrWfaP95LbfmZldEsQP1CMZn508OMQfL5IjXOAc=
  - secure: nrG/w67diI/iTKwwf3/PoiG2RgBhLsOgaUfwgUsm5BhUOq7WPWsY8VeOr1IVWYKlm0iLExc3xVMfj6uTrriLPugaECsg5oVhXK9dDxm1mUSZzWdWtD1wauSiuhdzqg25JiBABV6ld5jg8yZ24TTq13mN+8GJiPQtZNWMjqqYFjJoQImx4s1tJPk/sQ2jK5nRAM9HB34hvGZ95l7VLa75sfvb/Fby3+OSG0keEn7TV8SfXJWhQBpQOs37c+N/hBbJEELcBKglM02AppMjxzio74hPJ+uVaRwvOAktsb0JNjSazjqxQmRbDkXBsbN7chx/TrGqPNovuC05T6rP4EAOfzZwzzBSEDq+ezyyYq59qMUDHww7Xbh8B4M/RE7iqCMTi4xPxOXlIAIGCeMpDbWj7zOxGVdN8BBCux235yx6+GwxxufVv3RSt946/+qYdf5L/aYyaSBSCBeerTMFvh9efAMCOyv/EWwNVl5GRLegieZ1ZCeldrzwLZfcyW4A8ji9SQMbQfvOdN+1IM7Fw8SaZCisdLQnUnA3c18GicRKb14YL8CuMNl0xvPTaV3c6ABbFjcXnOT3L2kAQmTNtISAOMQg/KL2SqhHajeCKb3WcUwB8wvfmA4p6WurEzbSwXjMrybtuPwHvqMPmIbdrGoivO5QrH0bnoet4DDqU5SNbgs=

install:
  - npm ci

script:
  - npm test

after_success:
  - npm run report-coverage
  - npm run semantic-release

branches:
  except:
  - "/^v\\d+\\.\\d+\\.\\d+$/"
